*{
    font-family: 'Permanent Marker', cursive;
    font-weight: 100;
}

body{
    background: radial-gradient(circle,#fff,#bbb);
    padding: 15px;
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,mimax(150px,ifr));
}

